{{>layout/header}}

<div class="col-md-12">
    <h1>Login</h1>

            <form class="col-md-4">
                    <input class="form-control" id="userid" placeholder="ID">
                    <br>

                    <input class="form-control" id="userassword" placeholder="Password">
                <br>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>

            <div class="col-md-6">
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            </div>
    </div>
{{>layout/footer}}