{{>layout/header}}
<div class="col-md-12">
    <h1>로그인</h1>
        <div class="row">
            <form>
                <div class="form-floating">
                    <input class="form-control" id="userid" placeholder="ID">
                    <label for="userid">ID</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="userassword" placeholder="Password">
                    <label for="userpassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>

            <div class="col-md-6">
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            </div>
        </div>
    </div>
{{>layout/footer}}