{{>layout/header}}
<div class="col-md-12">

<h1>{{post.title}}</h1>
<br>
Logged in as : {{loginUserName}}
<br>
글 번호 : <br>
{{post.id}}<br>
<br>
작성자 : <br>
{{post.author}}<br>
<br>
내용 : <br>
{{post.content}}<br>
<br>

<a href="/posts/update/{{post.id}}" class="btn btn-info active" role="button">수정하기</a>
<a href="/" class="btn btn-info active" role="button">돌아가기</a>
</div>
{{>layout/footer}}