{{>layout/header}}


<div class="col-md-12">

    <section id="reviewD-container">
        <table class="reviewD-tablelayout">
            <div class="profilebox--nickname">
                작성자 : {{post.author}}
            </div>
            <tr class="common-tbl__item">
                <td>
                    <span id="reviewD__title">{{post.title}}</span>
                </td>
            </tr>

            <tr class="common-tbl__item">
                <td>
                    <p id="reviewD-content">
                        {{post.content}}
                    </p>
                </td>
            </tr>
        </table>
    </section>
<br><br>
<a href="/posts/update/{{post.id}}" class="btn btn-info active" role="button">수정하기</a>
<a href="/" class="btn btn-info active" role="button">돌아가기</a>
</div>

{{>layout/footer}}