{{>layout/header}}

<div class="col-md-12">
    <div class="nickname">
        <span>작성자 : {{post.author}}</span>
    </div>
    <br>
    <div class="col-md-2">
    <div class="form-re">
        <input type="text" class="form-control" id="title" value={{post.title}} readonly>

    </div>
    <br>

    <div class="form-re">
        <input type="text" class="form-control" id="content" value= {{post.content}} readonly>
    </div>
    </div>

<br>
    <div class="center">
<a href="/posts/update/{{post.id}}" class="btn btn-info active" role="button">수정하기</a>
<a href="/" class="btn btn-info active" role="button">돌아가기</a>
    </div>
</div>

{{>layout/footer}}