{{>layout/header}}

<div class="background">
<div id="page-wrapper" >

    <!-- Header -->
    <header id="header">
        <div class="title">
                <a>My Traveler</a>
        </div>
        <div class="menu">
        <a href="/" style="text-decoration: none"> <img src="/images/airplane.png" width="30" height="30" > Enter</a>
        </div>
    </header>
</div>
</div>
</body>
{{>layout/footer}}